[dx_shaders]
ps={DEFAULT=compiled\BoxDEFAULT.ps.cso}
vs={DEFAULT=compiled\BoxDEFAULT.vs.cso}

[input_elements]

[shader_info]

[shader_passes]
DEFAULT={resources=CameraBuffer;ObjectBuffer;MaterialBuffer}

[shader_resources]
CameraBuffer={binding=0,dataString=float4x4 ViewMatrix;  float4x4 ProjectionMatrix;  float4x4 InvViewMatrix;  float4x4 InvProjMatrix;,flags=0,stages=1,type=0}
MaterialBuffer={binding=2,dataString=float4 Color;  float4 BoxMin;  float4 BoxMax;,flags=0,stages=3,type=0}
ObjectBuffer={binding=1,dataString=float4x4 WorldMatrix;  float4x4 NormalMatrix;,flags=0,stages=1,type=0}

[source]
cmdLine=Box -vs -ps 
ps=Box.ps
vs=Box.vs

[vk_shaders]
ps={DEFAULT=compiled\BoxDEFAULT.frag.spv}
vs={DEFAULT=compiled\BoxDEFAULT.vert.spv}

