[dx_shaders]
gs={DEFAULT=compiled\ParticleDEFAULT.gs.cso}
ps={DEFAULT=compiled\ParticleDEFAULT.ps.cso}
vs={DEFAULT=compiled\ParticleDEFAULT.vs.cso}

[input_elements]
data={format=2,offset=16,semantic=PDATA,size=16}
position={format=2,offset=0,semantic=POSITION,size=16}

[shader_info]

[shader_passes]
DEFAULT={resources=CameraBuffer;ObjectBuffer}

[shader_resources]
CameraBuffer={binding=0,dataString=float4x4 ViewMatrix;  float4x4 ProjectionMatrix;  float4x4 InvViewMatrix;  float4x4 InvProjMatrix;,flags=0,stages=4,type=0}
ObjectBuffer={binding=1,dataString=float4x4 WorldMatrix;  float4x4 NormalMatrix;,flags=0,stages=4,type=0}

[source]
cmdLine=Particle -vs -gs -ps 
gs=Particle.gs
ps=Particle.ps
vs=Particle.vs

[vk_shaders]
gs={DEFAULT=compiled\ParticleDEFAULT.geom.spv}
ps={DEFAULT=compiled\ParticleDEFAULT.frag.spv}
vs={DEFAULT=compiled\ParticleDEFAULT.vert.spv}

