[dx_shaders]
ps={DEFAULT=compiled\WaterDEFAULT.ps.cso}
vs={DEFAULT=compiled\WaterDEFAULT.vs.cso}

[input_elements]
normal={format=2,offset=16,semantic=NORMAL,size=16}
position={format=2,offset=0,semantic=POSITION,size=16}
tangent={format=2,offset=32,semantic=TANGENT,size=16}
texCoord={format=2,offset=48,semantic=TEXCOORD,size=16}

[shader_info]

[shader_passes]
DEFAULT={resources=CameraBuffer;ObjectBuffer;TextureSampler;RippleMap;ShadowBuffer;MaterialBuffer;WaveMap;EnvBuffer;SampleSceneBuffer;SunlightBuffer;FogBuffer;SceneTexture;DepthTexture;ShadowTexture;SceneSampler;DepthSampler;ShadowSampler}

[shader_resources]
CameraBuffer={binding=0,dataString=float4x4 ViewMatrix;  float4x4 ProjectionMatrix;  float4x4 InvViewMatrix;  float4x4 InvProjMatrix;,flags=0,stages=3,type=0}
DepthSampler={binding=1,dataString=,flags=0,stages=2,type=2}
DepthTexture={binding=1,dataString=Texture2D,flags=1,stages=2,type=1}
EnvBuffer={binding=9,dataString=float4 TimeData;  float4 WindVec;,flags=0,stages=2,type=0}
FogBuffer={binding=7,dataString=float4 FogColor;  float4 FogControls;,flags=0,stages=2,type=0}
MaterialBuffer={binding=2,dataString=float4 DirParams;  float4 RippleParams;  float4 WaveParams;  float4 WaterColor0;  float4 WaterColor1;  float4 WaveColor;  float4 SpecularColor;,flags=0,stages=2,type=0}
ObjectBuffer={binding=1,dataString=float4x4 WorldMatrix;  float4x4 NormalMatrix;,flags=0,stages=3,type=0}
RippleMap={binding=3,dataString=Texture2D,flags=1,stages=2,type=1}
SampleSceneBuffer={binding=11,dataString=float4 SampleSceneTexCoordTransform;  float4 SampleSceneTexCoordRanges;,flags=0,stages=2,type=0}
SceneSampler={binding=0,dataString=,flags=0,stages=2,type=2}
SceneTexture={binding=0,dataString=Texture2D,flags=1,stages=2,type=1}
ShadowBuffer={binding=10,dataString=float4x4 ShadowMatrix;,flags=0,stages=2,type=0}
ShadowSampler={binding=2,dataString=,flags=0,stages=2,type=2}
ShadowTexture={binding=2,dataString=Texture2D,flags=1,stages=2,type=1}
SunlightBuffer={binding=3,dataString=float4 SunDirection;  float4 SunColor;,flags=0,stages=2,type=0}
TextureSampler={binding=3,dataString=,flags=0,stages=2,type=2}
WaveMap={binding=4,dataString=Texture2D,flags=1,stages=2,type=1}

[source]
cmdLine=Water -vs -ps -noTexTransform -lit -fog 
ps=Water.ps
vs=Water.vs

[vk_shaders]
ps={DEFAULT=compiled\WaterDEFAULT.frag.spv}
vs={DEFAULT=compiled\WaterDEFAULT.vert.spv}

