[dx_shaders]
ps={DEFAULT=compiled\AtmosphereDEFAULT.ps.cso}
vs={DEFAULT=compiled\AtmosphereDEFAULT.vs.cso}

[input_elements]

[shader_info]

[shader_passes]
DEFAULT={resources=CameraBuffer;SunlightBuffer}

[shader_resources]
CameraBuffer={binding=0,dataString=float4x4 ViewMatrix;  float4x4 ProjectionMatrix;  float4x4 InvViewMatrix;  float4x4 InvProjMatrix;,flags=0,stages=3,type=0}
SunlightBuffer={binding=3,dataString=float4 SunDirection;  float4 SunColor;,flags=0,stages=2,type=0}

[source]
cmdLine=Atmosphere -vs -ps 
ps=Atmosphere.ps
vs=Atmosphere.vs

[vk_shaders]
ps={DEFAULT=compiled\AtmosphereDEFAULT.frag.spv}
vs={DEFAULT=compiled\AtmosphereDEFAULT.vert.spv}

