[dx_shaders]
ps={DEFAULT=compiled\SceneCopyDEFAULT.ps.cso}
vs={DEFAULT=compiled\ScreenDEFAULT.vs.cso}

[input_elements]

[shader_info]

[shader_passes]
DEFAULT={resources=SceneCopyTex;Sampler;DepthCopyTex;CameraBuffer}

[shader_resources]
CameraBuffer={binding=0,dataString=float4x4 ViewMatrix;  float4x4 ProjectionMatrix;  float4x4 InvViewMatrix;  float4x4 InvProjMatrix;,flags=0,stages=2,type=0}
DepthCopyTex={binding=4,dataString=Texture2D,flags=1,stages=2,type=1}
Sampler={binding=3,dataString=,flags=0,stages=2,type=2}
SceneCopyTex={binding=3,dataString=Texture2D,flags=1,stages=2,type=1}

[source]
cmdLine=SceneCopy -vs..\Screen\Screen -ps -noTexTransform 
ps=SceneCopy.ps
vs=\..\Screen\Screen.vs

[vk_shaders]
ps={DEFAULT=compiled\SceneCopyDEFAULT.frag.spv}
vs={DEFAULT=compiled\ScreenDEFAULT.vert.spv}

