[dx_shaders]
ps={DEFAULT=compiled\FXAADEFAULT.ps.cso}
vs={DEFAULT=compiled\ScreenDEFAULT.vs.cso}

[input_elements]

[shader_info]

[shader_passes]
DEFAULT={resources=Texture;Sampler;MaterialBuffer}

[shader_resources]
MaterialBuffer={binding=2,dataString=float4 SizeData;  float4 Params;,flags=0,stages=2,type=0}
Sampler={binding=3,dataString=,flags=0,stages=2,type=2}
Texture={binding=3,dataString=Texture2D,flags=1,stages=2,type=1}

[source]
cmdLine=FXAA -vs..\Screen\Screen -ps -noTexTransform 
ps=FXAA.ps
vs=\..\Screen\Screen.vs

[vk_shaders]
ps={DEFAULT=compiled\FXAADEFAULT.frag.spv}
vs={DEFAULT=compiled\ScreenDEFAULT.vert.spv}

