[dx_shaders]
ps={DEFAULT=compiled\BlinnPhongDEFAULT.ps.cso}
vs={DEFAULT=compiled\BlinnPhongSkinnedDEFAULT.vs.cso}

[input_elements]
bones={format=2,offset=64,semantic=BONES,size=16}
normal={format=2,offset=16,semantic=NORMAL,size=16}
position={format=2,offset=0,semantic=POSITION,size=16}
tangent={format=2,offset=32,semantic=TANGENT,size=16}
texCoord={format=2,offset=48,semantic=TEXCOORD,size=16}
weights={format=2,offset=80,semantic=WEIGHTS,size=16}

[shader_info]

[shader_passes]
DEFAULT={resources=CameraBuffer;NormalMap;ObjectBuffer;TextureSampler;SkinnedBoneBuffer;DiffuseMap;SunlightBuffer;SpecularMap;FogBuffer;TransparentMap;ShadowBuffer;TextureTransformBuffer;MaterialBuffer;ShadowTexture;ShadowSampler}

[shader_resources]
CameraBuffer={binding=0,dataString=float4x4 ViewMatrix;  float4x4 ProjectionMatrix;  float4x4 InvViewMatrix;  float4x4 InvProjMatrix;,flags=0,stages=3,type=0}
DiffuseMap={binding=3,dataString=Texture2D,flags=1,stages=2,type=1}
FogBuffer={binding=7,dataString=float4 FogColor;  float4 FogControls;,flags=0,stages=2,type=0}
MaterialBuffer={binding=2,dataString=float4 DiffuseColor;  float4 SpecularColor;,flags=0,stages=2,type=0}
NormalMap={binding=4,dataString=Texture2D,flags=1,stages=2,type=1}
ObjectBuffer={binding=1,dataString=float4x4 WorldMatrix;  float4x4 NormalMatrix;,flags=0,stages=1,type=0}
ShadowBuffer={binding=10,dataString=float4x4 ShadowMatrix;,flags=0,stages=2,type=0}
ShadowSampler={binding=2,dataString=,flags=0,stages=2,type=2}
ShadowTexture={binding=2,dataString=Texture2D,flags=1,stages=2,type=1}
SkinnedBoneBuffer={binding=8,dataString=float4x4 SkinnedBones[256];,flags=0,stages=1,type=0}
SpecularMap={binding=5,dataString=Texture2D,flags=1,stages=2,type=1}
SunlightBuffer={binding=3,dataString=float4 SunDirection;  float4 SunColor;,flags=0,stages=2,type=0}
TextureSampler={binding=3,dataString=,flags=0,stages=2,type=2}
TextureTransformBuffer={binding=6,dataString=float4 TextureTransforms[32];,flags=0,stages=2,type=0}
TransparentMap={binding=6,dataString=Texture2D,flags=1,stages=2,type=1}

[source]
cmdLine=BlinnPhongSkinned -vs -ps..\BlinnPhong\BlinnPhong -lit -fog 
ps=\..\BlinnPhong\BlinnPhong.ps
vs=BlinnPhongSkinned.vs

[vk_shaders]
ps={DEFAULT=compiled\BlinnPhongDEFAULT.frag.spv}
vs={DEFAULT=compiled\BlinnPhongSkinnedDEFAULT.vert.spv}

