[dx_shaders]
ps={DEFAULT=compiled\ScreenDEFAULT.ps.cso}
vs={DEFAULT=compiled\ScreenDEFAULT.vs.cso}

[input_elements]

[shader_info]

[shader_passes]
DEFAULT={resources=ScreenTex;ScreenSampler}

[shader_resources]
ScreenSampler={binding=3,dataString=,flags=0,stages=2,type=2}
ScreenTex={binding=3,dataString=Texture2D,flags=1,stages=2,type=1}

[source]
cmdLine=Screen -vs -ps -noTexTransform 
ps=Screen.ps
vs=Screen.vs

[vk_shaders]
ps={DEFAULT=compiled\ScreenDEFAULT.frag.spv}
vs={DEFAULT=compiled\ScreenDEFAULT.vert.spv}

