[dx_shaders]
ps={DEFAULT=compiled\DiffuseDEFAULT.ps.cso}
vs={DEFAULT=compiled\DiffuseDEFAULT.vs.cso}

[input_elements]
normal={format=2,offset=16,semantic=NORMAL,size=16}
position={format=2,offset=0,semantic=POSITION,size=16}
tangent={format=2,offset=32,semantic=TANGENT,size=16}
texCoord={format=2,offset=48,semantic=TEXCOORD,size=16}

[shader_info]

[shader_passes]
DEFAULT={resources=CameraBuffer;ObjectBuffer;SunlightBuffer}

[shader_resources]
CameraBuffer={binding=0,dataString=float4x4 ViewMatrix;  float4x4 ProjectionMatrix;  float4x4 InvViewMatrix;  float4x4 InvProjMatrix;,flags=0,stages=1,type=0}
ObjectBuffer={binding=1,dataString=float4x4 WorldMatrix;  float4x4 NormalMatrix;,flags=0,stages=1,type=0}
SunlightBuffer={binding=3,dataString=float4 SunDirection;  float4 SunColor;,flags=0,stages=2,type=0}

[source]
cmdLine=Diffuse -vs -ps 
ps=Diffuse.ps
vs=Diffuse.vs

[vk_shaders]
ps={DEFAULT=compiled\DiffuseDEFAULT.frag.spv}
vs={DEFAULT=compiled\DiffuseDEFAULT.vert.spv}

