[dx_shaders]
ps={DEFAULT=compiled\SkyboxDEFAULT.ps.cso}
vs={DEFAULT=compiled\SkyboxDEFAULT.vs.cso}

[input_elements]
dummyPosition={format=2,offset=0,semantic=POSITION,size=16}

[shader_info]

[shader_passes]
DEFAULT={resources=ShadowTexture;CameraBuffer;DaySkybox;NightSkybox;ShadowBuffer;SkySampler;MaterialBuffer;SunlightBuffer;FogBuffer;ShadowSampler}

[shader_resources]
CameraBuffer={binding=0,dataString=float4x4 ViewMatrix;  float4x4 ProjectionMatrix;  float4x4 InvViewMatrix;  float4x4 InvProjMatrix;,flags=0,stages=3,type=0}
DaySkybox={binding=3,dataString=TextureCube,flags=2,stages=2,type=1}
FogBuffer={binding=7,dataString=float4 FogColor;  float4 FogControls;,flags=0,stages=2,type=0}
MaterialBuffer={binding=2,dataString=float4 Color;,flags=0,stages=2,type=0}
NightSkybox={binding=4,dataString=TextureCube,flags=2,stages=2,type=1}
ShadowBuffer={binding=10,dataString=float4x4 ShadowMatrix;,flags=0,stages=2,type=0}
ShadowSampler={binding=2,dataString=,flags=0,stages=2,type=2}
ShadowTexture={binding=2,dataString=Texture2D,flags=1,stages=2,type=1}
SkySampler={binding=3,dataString=,flags=0,stages=2,type=2}
SunlightBuffer={binding=3,dataString=float4 SunDirection;  float4 SunColor;,flags=0,stages=2,type=0}

[source]
cmdLine=Skybox -vs -ps -fog 
ps=Skybox.ps
vs=Skybox.vs

[vk_shaders]
ps={DEFAULT=compiled\SkyboxDEFAULT.frag.spv}
vs={DEFAULT=compiled\SkyboxDEFAULT.vert.spv}

