[dx_shaders]
ps={DEFAULT=compiled\ColorDEFAULT.ps.cso,SHADOW=compiled\ColorSHADOW.ps.cso}
vs={DEFAULT=compiled\ColorDEFAULT.vs.cso}

[input_elements]
normal={format=2,offset=16,semantic=NORMAL,size=16}
position={format=2,offset=0,semantic=POSITION,size=16}
tangent={format=2,offset=32,semantic=TANGENT,size=16}
texCoord={format=2,offset=48,semantic=TEXCOORD,size=16}

[shader_info]

[shader_passes]
DEFAULT={resources=ShadowTexture;CameraBuffer;ObjectBuffer;SunlightBuffer;ShadowBuffer;FogBuffer;MaterialBuffer;ShadowSampler}
SHADOW={resources=}

[shader_resources]
CameraBuffer={binding=0,dataString=float4x4 ViewMatrix;  float4x4 ProjectionMatrix;  float4x4 InvViewMatrix;  float4x4 InvProjMatrix;,flags=0,stages=3,type=0}
FogBuffer={binding=7,dataString=float4 FogColor;  float4 FogControls;,flags=0,stages=2,type=0}
MaterialBuffer={binding=2,dataString=float4 Color;,flags=0,stages=2,type=0}
ObjectBuffer={binding=1,dataString=float4x4 WorldMatrix;  float4x4 NormalMatrix;,flags=0,stages=1,type=0}
ShadowBuffer={binding=10,dataString=float4x4 ShadowMatrix;,flags=0,stages=2,type=0}
ShadowSampler={binding=2,dataString=,flags=0,stages=2,type=2}
ShadowTexture={binding=2,dataString=Texture2D,flags=1,stages=2,type=1}
SunlightBuffer={binding=3,dataString=float4 SunDirection;  float4 SunColor;,flags=0,stages=2,type=0}

[source]
cmdLine=Color -vs -ps -shadows 
ps=Color.ps
vs=Color.vs

[vk_shaders]
ps={DEFAULT=compiled\ColorDEFAULT.frag.spv,SHADOW=compiled\ColorSHADOW.frag.spv}
vs={DEFAULT=compiled\ColorDEFAULT.vert.spv}

