[dx_shaders]
ps={DEFAULT=compiled\GUIDEFAULT.ps.cso}
vs={DEFAULT=compiled\GUIDEFAULT.vs.cso}

[input_elements]
color={format=2,offset=16,semantic=COLOR,size=16}
position={format=2,offset=0,semantic=POSITION,size=16}
texCoord={format=2,offset=32,semantic=TEXCOORD,size=16}

[shader_info]

[shader_passes]
DEFAULT={resources=CameraBuffer;Texture;TextureSampler;ObjectBuffer}

[shader_resources]
CameraBuffer={binding=0,dataString=float4x4 ViewMatrix;  float4x4 ProjectionMatrix;  float4x4 InvViewMatrix;  float4x4 InvProjMatrix;,flags=0,stages=1,type=0}
ObjectBuffer={binding=1,dataString=float4x4 WorldMatrix;  float4x4 NormalMatrix;,flags=0,stages=1,type=0}
Texture={binding=3,dataString=Texture2D,flags=1,stages=2,type=1}
TextureSampler={binding=3,dataString=,flags=0,stages=2,type=2}

[source]
cmdLine=GUI -vs -ps -noTexTransform 
ps=GUI.ps
vs=GUI.vs

[vk_shaders]
ps={DEFAULT=compiled\GUIDEFAULT.frag.spv}
vs={DEFAULT=compiled\GUIDEFAULT.vert.spv}

