[dx_shaders]
ps={DEFAULT=compiled\TerrainDEFAULT.ps.cso}
vs={DEFAULT=compiled\TerrainDEFAULT.vs.cso}

[input_elements]
position={format=2,offset=0,semantic=POSITION,size=16}

[shader_info]

[shader_passes]
DEFAULT={resources=NormalMap;HeightMap;ObjectBuffer;CameraBuffer;SplatMaps;MaterialBuffer;TextureTransformBuffer;DiffuseMap;SunlightBuffer;TerrainSampler;ShadowBuffer;FogBuffer;ShadowTexture;ShadowSampler}

[shader_resources]
CameraBuffer={binding=0,dataString=float4x4 ViewMatrix;  float4x4 ProjectionMatrix;  float4x4 InvViewMatrix;  float4x4 InvProjMatrix;,flags=0,stages=3,type=0}
DiffuseMap={binding=5,dataString=Texture2D,flags=1,stages=2,type=1}
FogBuffer={binding=7,dataString=float4 FogColor;  float4 FogControls;,flags=0,stages=2,type=0}
HeightMap={binding=3,dataString=Texture2D,flags=1,stages=1,type=1}
MaterialBuffer={binding=2,dataString=float4 TerrainData;  float4 TerrainBox;,flags=0,stages=3,type=0}
NormalMap={binding=4,dataString=Texture2D,flags=1,stages=2,type=1}
ObjectBuffer={binding=1,dataString=float4x4 WorldMatrix;  float4x4 NormalMatrix;,flags=0,stages=3,type=0}
ShadowBuffer={binding=10,dataString=float4x4 ShadowMatrix;,flags=0,stages=2,type=0}
ShadowSampler={binding=2,dataString=,flags=0,stages=2,type=2}
ShadowTexture={binding=2,dataString=Texture2D,flags=1,stages=2,type=1}
SplatMaps={binding=6,dataString=Texture2DArray,flags=4,stages=2,type=1}
SunlightBuffer={binding=3,dataString=float4 SunDirection;  float4 SunColor;,flags=0,stages=2,type=0}
TerrainSampler={binding=3,dataString=,flags=0,stages=2,type=2}
TextureTransformBuffer={binding=6,dataString=float4 TextureTransforms[32];,flags=0,stages=2,type=0}

[source]
cmdLine=Terrain -vs -ps -noTexTransform -lit -fog 
ps=Terrain.ps
vs=Terrain.vs

[vk_shaders]
ps={DEFAULT=compiled\TerrainDEFAULT.frag.spv}
vs={DEFAULT=compiled\TerrainDEFAULT.vert.spv}

