[dx_shaders]
gs={DEFAULT=compiled\WindowEffectDEFAULT.gs.cso}
ps={DEFAULT=compiled\WindowEffectDEFAULT.ps.cso}
vs={DEFAULT=compiled\WindowEffectDEFAULT.vs.cso}

[input_elements]
data={format=2,offset=16,semantic=DATA,size=16}
position_scale={format=2,offset=0,semantic=POSITION,size=16}

[shader_info]

[shader_passes]
DEFAULT={resources=CameraBuffer;DropSampler;ObjectBuffer;TextureTransformBuffer;MaterialBuffer;DropTexture}

[shader_resources]
CameraBuffer={binding=0,dataString=float4x4 ViewMatrix;  float4x4 ProjectionMatrix;  float4x4 InvViewMatrix;  float4x4 InvProjMatrix;,flags=0,stages=4,type=0}
DropSampler={binding=3,dataString=,flags=0,stages=2,type=2}
DropTexture={binding=3,dataString=Texture2D,flags=1,stages=2,type=1}
MaterialBuffer={binding=2,dataString=float4 AtlasDropCoords[64];,flags=0,stages=4,type=0}
ObjectBuffer={binding=1,dataString=float4x4 WorldMatrix;  float4x4 NormalMatrix;,flags=0,stages=4,type=0}
TextureTransformBuffer={binding=6,dataString=float4 TextureTransforms[32];,flags=0,stages=2,type=0}

[source]
cmdLine=WindowEffect -vs -gs -ps 
gs=WindowEffect.gs
ps=WindowEffect.ps
vs=WindowEffect.vs

[vk_shaders]
gs={DEFAULT=compiled\WindowEffectDEFAULT.geom.spv}
ps={DEFAULT=compiled\WindowEffectDEFAULT.frag.spv}
vs={DEFAULT=compiled\WindowEffectDEFAULT.vert.spv}

