[dx_shaders]
ps={DEFAULT=compiled\MotionBlurDEFAULT.ps.cso}
vs={DEFAULT=compiled\ScreenDEFAULT.vs.cso}

[input_elements]

[shader_info]

[shader_passes]
DEFAULT={resources=Texture;ObjectBuffer;DepthTexture;Sampler;CameraBuffer;MaterialBuffer}

[shader_resources]
CameraBuffer={binding=0,dataString=float4x4 ViewMatrix;  float4x4 ProjectionMatrix;  float4x4 InvViewMatrix;  float4x4 InvProjMatrix;,flags=0,stages=2,type=0}
DepthTexture={binding=1,dataString=Texture2D,flags=1,stages=2,type=1}
MaterialBuffer={binding=2,dataString=float4x4 PrevViewProj;  float4 SizeData;,flags=0,stages=2,type=0}
ObjectBuffer={binding=1,dataString=float4x4 WorldMatrix;  float4x4 NormalMatrix;,flags=0,stages=2,type=0}
Sampler={binding=3,dataString=,flags=0,stages=2,type=2}
Texture={binding=3,dataString=Texture2D,flags=1,stages=2,type=1}

[source]
cmdLine=MotionBlur -vs..\Screen\Screen -ps -noTexTransform 
ps=MotionBlur.ps
vs=\..\Screen\Screen.vs

[vk_shaders]
ps={DEFAULT=compiled\MotionBlurDEFAULT.frag.spv}
vs={DEFAULT=compiled\ScreenDEFAULT.vert.spv}

