[dx_shaders]
ps={DEFAULT=compiled\SceneWarpDEFAULT.ps.cso}
vs={DEFAULT=compiled\SceneWarpDEFAULT.vs.cso}

[input_elements]
normal={format=2,offset=16,semantic=NORMAL,size=16}
position={format=2,offset=0,semantic=POSITION,size=16}
tangent={format=2,offset=32,semantic=TANGENT,size=16}
texCoord={format=2,offset=48,semantic=TEXCOORD,size=16}

[shader_info]

[shader_passes]
DEFAULT={resources=CameraBuffer;ObjectBuffer;WarpTexture;EnvBuffer;WarpSampler;DepthTexture;SampleSceneBuffer;MaterialBuffer;TextureTransformBuffer;SceneTexture;SceneSampler;DepthSampler}

[shader_resources]
CameraBuffer={binding=0,dataString=float4x4 ViewMatrix;  float4x4 ProjectionMatrix;  float4x4 InvViewMatrix;  float4x4 InvProjMatrix;,flags=0,stages=1,type=0}
DepthSampler={binding=1,dataString=,flags=0,stages=2,type=2}
DepthTexture={binding=1,dataString=Texture2D,flags=1,stages=2,type=1}
EnvBuffer={binding=9,dataString=float4 TimeData;  float4 WindVec;,flags=0,stages=2,type=0}
MaterialBuffer={binding=2,dataString=float4 WarpSettings;,flags=0,stages=2,type=0}
ObjectBuffer={binding=1,dataString=float4x4 WorldMatrix;  float4x4 NormalMatrix;,flags=0,stages=1,type=0}
SampleSceneBuffer={binding=11,dataString=float4 SampleSceneTexCoordTransform;  float4 SampleSceneTexCoordRanges;,flags=0,stages=2,type=0}
SceneSampler={binding=0,dataString=,flags=0,stages=2,type=2}
SceneTexture={binding=0,dataString=Texture2D,flags=1,stages=2,type=1}
TextureTransformBuffer={binding=6,dataString=float4 TextureTransforms[32];,flags=0,stages=2,type=0}
WarpSampler={binding=3,dataString=,flags=0,stages=2,type=2}
WarpTexture={binding=3,dataString=Texture2D,flags=1,stages=2,type=1}

[source]
cmdLine=SceneWarp -vs -ps 
ps=SceneWarp.ps
vs=SceneWarp.vs

[vk_shaders]
ps={DEFAULT=compiled\SceneWarpDEFAULT.frag.spv}
vs={DEFAULT=compiled\SceneWarpDEFAULT.vert.spv}

