[dx_shaders]
ps={DEFAULT=compiled\CloudDEFAULT.ps.cso}
vs={DEFAULT=compiled\CloudDEFAULT.vs.cso}

[input_elements]
normal={format=2,offset=16,semantic=NORMAL,size=16}
position={format=2,offset=0,semantic=POSITION,size=16}
tangent={format=2,offset=32,semantic=TANGENT,size=16}
texCoord={format=2,offset=48,semantic=TEXCOORD,size=16}

[shader_info]

[shader_passes]
DEFAULT={resources=CloudMap;CameraBuffer;ObjectBuffer;CloudSampler;TextureTransformBuffer;EnvBuffer}

[shader_resources]
CameraBuffer={binding=0,dataString=float4x4 ViewMatrix;  float4x4 ProjectionMatrix;  float4x4 InvViewMatrix;  float4x4 InvProjMatrix;,flags=0,stages=1,type=0}
CloudMap={binding=3,dataString=Texture2D,flags=1,stages=2,type=1}
CloudSampler={binding=3,dataString=,flags=0,stages=2,type=2}
EnvBuffer={binding=9,dataString=float4 TimeData;  float4 WindVec;,flags=0,stages=2,type=0}
ObjectBuffer={binding=1,dataString=float4x4 WorldMatrix;  float4x4 NormalMatrix;,flags=0,stages=1,type=0}
TextureTransformBuffer={binding=6,dataString=float4 TextureTransforms[32];,flags=0,stages=2,type=0}

[source]
cmdLine=Cloud -vs -ps 
ps=Cloud.ps
vs=Cloud.vs

[vk_shaders]
ps={DEFAULT=compiled\CloudDEFAULT.frag.spv}
vs={DEFAULT=compiled\CloudDEFAULT.vert.spv}

